<h1>ToDoアプリ</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <label>
        <input type="checkbox" <% if task.completed? %> checked <% end %> />
        <%= task.title %> - <%= task.description %> (<%= task.completed ? '完了' : '未完了' %>)
      </label>
    </li>

  <% end %>
</ul>